{% extends 'layout.html' %}

{% block content %}
<main id="main">
    <head>
        <style>
            .button {
  background-color: #333;
  color: white;
  text-align: center;
  font-size:14px;
  border: none;
  cursor: pointer;
}
        </style>
    <meta charset="UTF-8">
    <title>Credentials</title>
        </head>
    <div class="formwrapper">
        <h1 class="title">{{ title }}</h1>
        <img style="height:200px;width:200px;" src="{{ url_for('static', filename='profile.jpg') }}" />
        <form style="text-align:center;" method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="form-field"><b style="margin-right:79px;">{{ form.username.label }}:</b><br> {{ form.username }}
                {% if form.username.errors or username_error_message is not none %}
                        {% if username_error_message is not none %}
                                <br>{{ username_error_message }}
                        {% endif %}
                        {% for error in form.username.errors %}
                            <br>{{ error }}
                        {% endfor %}
                {% endif %}
            </div>
            <br>
            <div class="form-field"><b style="margin-right:79px;">{{ form.password.label }}:</b><br> {{ form.password }}
                {% if form.password.errors or password_error_message is not none %}
                        {% if password_error_message is not none %}
                                <br>{{ password_error_message }}
                        {% endif %}
                        {% for error in form.password.errors %}
                            <br>{{ error }}
                        {% endfor %}
                {% endif %}
            </div>
            <br>
            <button type="submit" class="button"> {{title}} </button>
<!--            <button class="button"> {{ form.submit }} </button>-->

        </form>
    </div>
</main>
{% endblock %}